<h1>About Me</h1>

<div class="western-image">
    <img src="../../assets/Middlesex.png" alt="Middlesex College Western University">    
</div>


<div id="profile">
    <p>
        I am Arya Vatan-Abadi, a software engineer from Toronto, Canada.
        I am a focused and driven individual with a passion for 
        problem-solving and strong interpersonal skills that 
        translate into an effective team member.
    </p>    
</div>

<div id="education">
    <h2>Education</h2>
    <p>
        <b>BACHELOR OF SOFTWARE ENGINEERING</b>
        <br>
        UNIVERSITY OF WESTERN ONTARIO
        <br>
        2017 - 2021, LONDON, ON
    </p>
</div>

<div id="skills">
    <h2>Programming Skills</h2>
    <ul>
        <li>Java</li>
        <li>C#</li>
        <li>C++</li>
        <li>Python</li>
        <li>HTML, CSS, JavaScript</li>
        <li>Node.js, React, Angular</li>
        <li>SQL</li>
    </ul>
</div>

<div id="awards">
    <h2>Awards</h2>
    <ul>
        <li>
            <b>SCOTIABANK HACKATHON (S:\HACKS)</b><br>
            WINNER <br>
            AUGUST 2019
        </li>
        <li>
            <b>ACADEMIC ACHIEVEMENT AWARD - COMPUTER SCIENCE</b><br>
            AWARDED TO HIGHEST ACHIEVING STUDENT<br>
            JUNE 2016
        </li>
    </ul>
</div>