<div class="western-image">
    <img src="assets/Middlesex.png" alt="Middlesex College Western University">    
</div>

<h2>About Me</h2>

<div id="profile">
    <p>
        I'm Arya Vatan-Abadi, a software engineer from Toronto, Canada.
        I am a focused and driven individual with a passion for 
        problem-solving and strong interpersonal skills that 
        translate into an effective team member. In my spare time I like to
        work on cool projects, read, and play video games.
    </p>    
</div>

<div id="education">
    <h2>Education</h2>
    <p>
        <b>Bachelor of Software Engineering</b>
        <br>
        University of Western Ontario
        <br>
        2017 - 2021, London, ON
    </p>
</div>

<div id="skills">
    <h2>Programming Skills</h2>
    <ul *ngIf="skills">
        <li *ngFor="let skill of skills" [class]="skill.class" (click)="skillClicked(skill)">{{ skill.name }}</li>
    </ul>

</div>

<div id="awards">
    <h2>Awards</h2>
    <ul>
        <li>
            <b>SCOTIABANK HACKATHON (S:\HACKS)</b><br>
            Winner <br>
            August 2019
        </li>
        <li>
            <b>ACADEMIC ACHIEVEMENT AWARD - COMPUTER SCIENCE</b><br>
            Awarded to highest achieving student<br>
            June 2016
        </li>
    </ul>
</div>