$primary: rgb(152, 230, 152);

img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 20px;
    margin-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p,
li {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    color: white;
}

h2 {
    font-family: "Roboto Condensed", sans-serif;
    color: $primary;
    margin-top: 50px;
}
#awards > h2 {
    margin-top: 40px;
}

p {
    margin-left: 1em;
}

#profile {
    //margin-left: 1em;
    width: auto;
    max-width: 50%;
}

#skills > ul {
    list-style-type: none;
    margin: 0;
    margin-left: 1em;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        background: $primary;
        padding: 18px;
        margin-right: 10px;
        width: auto;
        height: auto;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        color: black;
        border-radius: 8px;
        transition: 0.2s ease;
    }

    li:hover {
        background: darken($primary, 25%);
        &.has-project {
            font-weight: bolder;
            cursor: pointer;
        }
    }
}

#awards > ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 1em;

    li {
        padding-bottom: 1em;
        padding-left: 0;
    }
}

// MAX WIDTH: 1300px =========================================================
@media screen and (max-width: 1300px) {
    #profile {
        max-width: 98%;
    }

    #skills > ul {
        li {
            padding: 12px;

            &:hover {
                background: $primary;
                &.has-project {
                    background-color: darken($primary, 25%);
                    font-weight: bolder;
                    cursor: pointer;
                }
            }
        }
    }
}

// MAX WIDTH: 900px =========================================================
@media screen and (max-width: 900px) {
    img {
        border-radius: 12px;
        margin-top: 0;
    }
}
