//https://codepen.io/ksantangelo/pen/ZBOpoJ/
$primary: rgb(152, 230, 152);
$secondary: rgb(29, 31, 32);

$container-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);

$gutter: 30px;
$border-width: 4px;
$dot-diameter: 8px;

.timeline {
    width: 100%;
    max-width: 1300px;
    background: $secondary;
    padding: 100px 50px;
    position: relative;
    // box-shadow: $container-shadow;

    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before {
        content: "";
        position: absolute;
        top: 0px;
        left: calc(22% + 56px); //$gutter/2
        bottom: 0px;
        width: $border-width;
        background: white;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.entry {
    clear: both;
    text-align: left;
    position: relative;
    .title {
        margin-bottom: 0.5em;
        float: left;
        width: 22%;
        padding-right: $gutter;
        text-align: right;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: $dot-diameter;
            height: $dot-diameter;
            border: $border-width solid $primary;
            background-color: $secondary;
            border-radius: 100%;
            top: 15%;
            right: -$dot-diameter;
            // z-index: 0;
        }
        h3 {
            margin: 0;
            font-size: 140%;
            color: $primary;
            font-family: "Roboto Condensed", sans-serif;
        }
        p {
            margin: 0;
            font-size: 100%;
            color: white;
            font-family: "Roboto Condensed", sans-serif;
            a {
                text-decoration: none;
                color: $primary;
                font-family: "Roboto Condensed", sans-serif;

                &:hover {
                   text-decoration: underline; 
                }
            }
        }
    }
    .body {
        margin: 0 0 3em;
        float: left;
        width: 73%;
        padding-left: $gutter;
        p {
            line-height: 1.4em;
            &:first-child {
                margin-top: 0;
                font-weight: 400;
            }
            color: white;
            font-family: "Roboto Condensed", sans-serif;
        }
        ul {
            font-family: "Roboto Condensed", sans-serif;
            color: #aaa;
            padding-left: 0;
            list-style-type: disc;
            margin-left: 2em;

            li {
                padding-bottom: 6px;
                &:before {
                    margin-right: 0.5em;
                }
            }
        }
    }
}

// Shorten the body so it doesn't go past the end of the navbar 
@media screen and (max-width: 1675px) {
    .entry .body {
        width: 65%;
    }
}

// Make font size all around smaller
@media screen and (max-width: 1186px) {
    .entry {
        .title {
            h3 {
                font-size: 130%;
            }
            p {
                font-size: 17px;
            }
        }
        .body {
            p,
            li {
                font-size: 17px;
            }
        }
    }
}

// Navbar converts to hamburger sidemenu
@media screen and (max-width: 1150px) {
    .timeline {
        padding: 100px 10px;
        &:before {
            left: calc(25% + 33px);
        }
    }
    .entry {
        .title {
            width: 25%;
        }
        .body {
            width: 62%;
        }
    }
}

// Make font size all around smaller
@media screen and (max-width: 881px) {
    .entry {
        .title {
            h3 {
                font-size: 120%;
            }
            p {
                font-size: 16px;
            }
        }
        .body {
            p,
            li {
                font-size: 16px;
            }
        }
    }
}

// Move timeline to lefthand side and text to righthand side
@media screen and (max-width: 833px) {
    .entry {
        .body {
            float: left;
            width: 85%; 
            text-align: left;
            margin-left: calc(10% - 30px);
            margin-top: 5px;

            p,
            li {
                font-size: 17px;
            }
        }
        .title {
            margin-left: 10%;
            text-align: left;
            width: 80%;
            
            &:before {
                left: -40px;
            }
            h3 {
                font-size: 140%;
            }
            p {
                font-size: 18px;
            }
        }
    }
    .timeline {
        padding: 40px 10px;
        &:before {
            left: calc(10% - 26px); //$gutter/2
        }
    }
}
