<div class="timeline">

    <div class="entry" *ngFor="let experience of experiences">
        <div class="title">
            <h3>{{experience.dates}}</h3>
            <p>{{experience.title}}<br>
                <a *ngIf="experience.employerSite" href="{{experience.employerSite}}" target="_blank">
                    {{experience.employer}}
                </a>
                <span *ngIf="experience.employerSite == undefined">
                    {{experience.employer}}
                </span>
            </p>
        </div>
        <div class="body">
            <p>{{experience.summary}}</p>
            <ul>
                <li *ngFor="let keyPoint of experience.keyPoints">{{keyPoint}}</li>
            </ul>
        </div>
    </div>
    
</div>