$primary:rgb(152, 230, 152);
$secondary: rgb(29, 31, 32);

a {
    text-decoration-color: $primary;
}

span {
    color: $primary;
}

p, li {
    // font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: white;
}

h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: $primary;
}

ul {
	list-style-type: none;
    margin: 0;
    margin-left: 1em;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        background: $primary;
        padding: 1em;
        margin-right: 10px;
        width: 295px;
        height: auto;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        color: black;
        // border-radius: 8px;

        p {
            color: black;
            margin: 0;
            font-size: 85%;
            text-align: center;
        }
        strong {
            text-align: center;
            margin-bottom: 1em;
        }
        
        &:hover {
            cursor: pointer;
            background-color: darken($primary, 15%);
        }
    }

}

#AngularSound {
    background-color: lightskyblue;
    &:hover{
        background-color: darken(lightskyblue, 25%);
    }
}
  
