$primary: rgb(152, 230, 152);
$secondary: rgb(29, 31, 32);

a {
    text-decoration-color: $primary;
}

span {
    color: $primary;
}

p,
li {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    color: white;
}

h1,
h2,
h3 {
    font-family: "Roboto Condensed", sans-serif;
    color: $primary;
}

* {
    box-sizing: border-box;
}

body {
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 10px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    display: inherit;  // Sets project heights to be equal
}

/* Clear floats after rows */
.row:after {
    content: "";
    clear: both;
}

/* Content */
.content {
    background-color: lighten($secondary, 10%);
    padding: 10px;
    font-family: "Roboto Condensed", sans-serif;
    transition: 0.2s ease;
    border-style: solid;
    border-width: 1px;
    border-color: $primary;
    border-radius: 8px;
    p {
        color: white;
    }

    &:hover {
        cursor: pointer;
        background-color: darken($primary, 10%);
        background-color: $primary;
        p,
        h3 {
            color: black;
        }
    }
    img {
        border-radius: 8px;
    }

    &:active {
        border-color: black;
        background-color: darken($primary, 20%);
    }
}

.filters-list > ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        font-size: 17px;
        background-color: lighten($secondary, 10%);
        padding: 12px;
        margin-right: 10px;
        width: 100px;
        height: auto;
        text-align: center;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        color: white;
        border-style: solid;
        border-width: 1px;
        border-color: $primary;
        border-radius: 8px;
        transition: 0.2s ease;
    }

    li.selected,
    li:hover {
        background-color: $primary;
        color: black;
        border-color: $primary;
        font-weight: bolder;
        cursor: pointer;
    }

    li:active {
        border-color: $secondary;
        background-color: darken($primary, 30%);
    }
}


/* Responsive layout - makes a three column-layout instead of four columns */
@media screen and (max-width: 1350px) {
    .column {
        width: 33%;
    }
}

/* Responsive layout - makes a two column-layout instead of three columns */
@media screen and (max-width: 1000px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
    .main {
        margin: auto;
    }
    .column {
        width: 100%;
    }
}

// Make filters more visually appealing
@media screen and (max-width: 500px) {
    .filters-list > ul {
        align-items: center;
        justify-content: center;

        li:hover {
            background-color: lighten($secondary, 10%);
            color: white;
            border-color: $primary;
            transition: 0.2s ease;
            font-weight: normal;
        }

        li.selected {
            background-color: $primary;
            color: black;
            border-color: $primary;
            font-weight: bolder;
            cursor: pointer;
        }
    }
}
