<h2>Projects</h2>
<div class="filters-list">
    <ul *ngIf="filters">
        <li (click)="filterSelected({name:'Show All'})" [class]="selectedFilter">
            Show All
        </li>
        <li *ngFor="let filter of filters" (click)="filterSelected(filter)" [class]="filter.class">
            {{filter.name}}
        </li>
    </ul>
</div>

<div class="main">
    <div *ngIf="projects" class="row">
        <div *ngFor="let project of projects" id="{{project.id}}" class="column">
            <div class="content" (click)="projectClicked(project)">
                <img src="{{project.icon}}" alt="{{project.name}}" style="width:100%">
                <h3>{{project.name}}</h3>
                <p>{{project.summary}}</p>
            </div>
        </div>
    </div>
</div>

<h2>Games</h2>
<div class="games-container">
    <ul>
        <li>
            <div class="banner">
                <iframe frameborder="0"
                    src="https://itch.io/embed/843556?linkback=true&amp;bg_color=1D1F20&amp;fg_color=ffffff&amp;link_color=98E698&amp;border_color=98E697"
                    width="552" height="167"><a href="https://aryavatan.itch.io/wrath-of-anubis">Wrath of Anubis by Arya
                        Vatan-Abadi</a></iframe>
            </div>
            <div class="square">
                <iframe frameborder="0" src="https://itch.io/embed/843556?bg_color=1D1F20&amp;fg_color=ffffff&amp;link_color=98E698&amp;border_color=98E697" width="208" height="167"><a
                        href="https://aryavatan.itch.io/wrath-of-anubis">Wrath of Anubis by Arya
                        Vatan-Abadi</a></iframe>
            </div>
        </li>
        <li>
            <div class="banner">
                <iframe frameborder="0"
                    src="https://itch.io/embed/796461?linkback=true&amp;bg_color=1D1F20&amp;fg_color=ffffff&amp;link_color=98E698&amp;border_color=98E698"
                    width="552" height="167"><a href="https://aryavatan.itch.io/maze-runner-not-a-ripoff">Maze Runner -
                        Not
                        a Ripoff by Arya Vatan-Abadi</a></iframe>
            </div>
            <div class="square">
                <iframe frameborder="0" src="https://itch.io/embed/796461?bg_color=1D1F20&amp;fg_color=ffffff&amp;link_color=98E698&amp;border_color=98E697" width="208" height="167"><a
                        href="https://aryavatan.itch.io/maze-runner-not-a-ripoff">Maze Runner - Not a Ripoff by Arya
                        Vatan-Abadi</a></iframe>
            </div>
        </li>
    </ul>
</div>