@import "../app.component.scss";

.content {
    padding-top: 88px;
    text-align: center;
}

h1 {
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    font-size: 250%;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 1px 2px black;
    
    span {
        color: $primary;
    }
}

p {
    color: white;
    margin-bottom: 60px;
    max-width: 500px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 1px 2px black;
}

a {
    color: $primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

iframe {
    pointer-events: none;
    border: solid;
    border-color: $primary;
    border-width: 3px;
    border-radius: 10px;
}

/////////////////////////////////////////////////////

@media screen and (max-width: 900px) {
    h1 {
        font-size: 200%;
    }
}

@media screen and (max-width: 600px) {
    iframe {
        width: 360px;
        height: 202.5px;
    }
}

@media screen and (max-width: 430px) {
    iframe {
        width: 270px;
        height: 152px;
    }
}

@media screen and (max-width: 330px) {
    iframe {
        width: 240px;
        height: 135px;
    }
    h1, p {
        margin-bottom: 30px;
    }
}