<p>Contact Page in Development...</p>
<p>
    If you would like to contact me, send me an email and 
    I will reply as soon as possible. Thanks!
</p>

<div class="contact">
    <ul>

        <li>
            <img class="logo" src="assets/Gmail.png">
            <h3>Email</h3>
            <p>arya.vatanabadi@gmail.com</p>
        </li>


        <a href="https://github.com/aryavatan" target="_blank"><li>
            <img class="logo" src="assets/GitHub.png">
            <h3>Github</h3>
            <p>aryavatan</p>
        </li></a>


        <a href="https://www.linkedin.com/in/aryavatanabadi/" target="_blank"><li>
            <img class="logo" id="linkedin" src="assets/LinkedIn.png">
            <h3>LinkedIn</h3>
            <p>aryavatanabadi</p>
        </li></a>

    </ul>
</div>