<div class="top-padding"></div>

<div class="text">
	<h3>Check out my other accounts!</h3>
	<p id="main-text">
		Visit my GitHub and my itch.io to see and/or download my other projects.
	</p>
</div>


<div class="table">
	<ul>
		<li>
			<a href="https://github.com/aryavatan" target="_blank">
				<div class="content">
					<div class="col">
						<div class="light">
							<img class="logo" src="assets/Contacts/GitHub.png">
						</div>
						<div class="dark">
							<img class="logo" src="assets/Contacts/GitHubDark.png">
						</div>
					</div>
					<div class="col">
						<h3>Github</h3>
						<p>aryavatan</p>
					</div>
				</div>
			</a>
		</li>


		<li>
			<a href="https://aryavatan.itch.io/" target="_blank">
				<div class="content">
					<div class="col">
						<div class="light">
							<img class="logo" src="assets/Contacts/itchio.png">
						</div>
						<div class="dark">
							<img class="logo" src="assets/Contacts/itchioDark.png">
						</div>
					</div>
					<div class="col">
						<h3>itch.io</h3>
						<p>aryavatan</p>
					</div>
				</div>
			</a>
		</li>


		<li>
			<a href="https://www.linkedin.com/in/aryavatanabadi/" target="_blank">
				<div class="content">
					<div class="col">
						<div class="light">
							<img class="logo" src="assets/Contacts/LinkedIn.png">
						</div>
						<div class="dark">
							<img class="logo" src="assets/Contacts/LinkedInDark.png">
						</div>
					</div>
					<div class="col">
						<h3>LinkedIn</h3>
						<p>aryavatanabadi</p>
					</div>
				</div>
			</a>
		</li>


		<li>
			<a href="https://www.twitch.tv/isitfeasible" target="_blank">
				<div class="content">
					<div class="col">
						<div class="light">
							<img class="logo" src="assets/Contacts/TwitchGlitchWhite.png">
						</div>
						<div class="dark">
							<img class="logo" src="assets/Contacts/TwitchGlitchBlackOps.png">
						</div>
					</div>
					<div class="col">
						<h3>Twitch</h3>
						<p>IsItFeasible</p>
					</div>
				</div>
			</a>
		</li>


		<li id="youtube">
			<a href="https://www.youtube.com/channel/UCKdhUNpF5Io8oMH-exs_eYw" target="_blank">
				<div class="content">
					<div class="col">
						<div class="light">
							<img class="logo" src="assets/Contacts/Youtube.png">
						</div>
						<div class="dark">
							<img class="logo" src="assets/Contacts/YoutubeDark.png">
						</div>
					</div>
					<div class="col">
						<h3>YouTube</h3>
						<p>Arya Vatanabadi</p>
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>


<div class="text">
	<br>
	<h3>Want to get in touch?</h3>
	<p id="main-text">
		Send me an email using the form below and I will reply as soon as possible, thanks!
	</p>
</div>

<section>
	<!-- *ngIf="statusDisplay" -->
	<div id="status" [class]="statusClass" *ngIf="statusDisplay" [style.animation]="statusAnimation">
		{{statusText}}
	</div>
	<div class="form">
		<!-- action="https://formspree.io/f/xjvpwdwp"  method="POST" -->
		<form (submit)="formSubmit(contactForm)" #contactForm="ngForm">
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" id="name" name="name" [(ngModel)]="name">
			</div>

			<div class="form-group">
				<label for="email">Your Email:</label>
				<input type="text" id="email" name="email" [(ngModel)]="email">
			</div>

			<div class="form-group">
				<label for="message">Message:</label>
				<textarea name="message" id="message" cols="35" rows="5" [(ngModel)]="message"></textarea>
			</div>

			<button type="submit">Send</button>
		</form>
	</div>
</section>


<div id="mobilePageExtender">
	<br><br><br><br>
</div>