<!-- <p>Contact Page in Development...</p> -->

<h3>Want to get in touch?</h3>
<p id="main-text">
    Send me an email and I will reply as soon as possible, thanks!
</p> 

<br><br>

<div class="contact">
    <div class="table">
        <ul>
            
            <a href=mailto:arya.vatanabadi@gmail.com target="_blank"><li>
                <img class="logo" src="assets/Contacts/Gmail.png">
                <h3>Email</h3>
                <p>arya.vatanabadi@gmail.com</p>
            </li></a>


            <a href="https://github.com/aryavatan" target="_blank"><li>
                <img class="logo" src="assets/Contacts/GitHub.png">
                <h3>Github</h3>
                <p>aryavatan</p>
            </li></a>


            <a href="https://www.linkedin.com/in/aryavatanabadi/" target="_blank"><li>
                <img class="logo" id="linkedin" src="assets/Contacts/LinkedIn.png">
                <h3>LinkedIn</h3>
                <p>aryavatanabadi</p>
            </li></a>
            
            <a href="https://aryavatan.itch.io/" target="_blank"><li>
                <img class="logo" src="assets/Contacts/itchio.png">
                <h3>itch.io</h3>
                <p>aryavatan</p>
            </li></a>

        </ul>
    </div>
</div>
