<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
	<div class="container">

		<div class="mainnav">
			<a routerLink="/" class="logo">Arya Vatan-Abadi</a>
			<nav>
				<ul>
					<li><a routerLink="/" (click)="topFunction()" id="home">Home</a></li>
					<li><a routerLink="/" (click)="scrollToElement('about-me')" id="about">About Me</a></li>
					<li><a routerLink="/" (click)="scrollToElement('games')" id="game">Games</a></li>
					<li><a href="#" routerLink="/contact" id="contact">Contact</a></li>
				</ul>
			</nav>
		</div>


		<div class="sidenavControl">
			<a routerLink="/" class="logo">Arya Vatan-Abadi</a>
			<a class="icon" (click)="openNav()">
				<i class="fa fa-bars"></i>
			</a>
		</div>

		<div id="mySidenav" class="sidenav" [style.width]="sidenavWidth">
			<a class="closebtn" (click)="closeNav()">&times;</a>
			<a href="#" routerLink="/" (click)="closeNav()">Home</a>
			<a href="#" routerLink="/about" (click)="closeNav()">About Me</a>
			<a href="#" routerLink="/experience" (click)="closeNav()">Experience</a>
			<a href="#" routerLink="/projects" (click)="closeNav()">Projects</a>
			<a href="#" routerLink="/contact" (click)="closeNav()">Contact</a>
		</div>

		<hr>
	</div>
</header>

<div id="main" class="container" (click)="closeNav()">
	<router-outlet></router-outlet>
</div>

<button (click)="topFunction()" id="topBtn" title="Go to top">↑</button>

<footer>
	<p>
		Connect with me
	</p>
	<div class="socials">
		<a href="https://www.linkedin.com/in/aryavatanabadi/" target="_blank">
			<img src="../assets/Contacts/LinkedIn.png" alt="LinkedIn" />
		</a>
		<a href="https://www.instagram.com/aryavatan/" target="_blank">
			<img src="../assets/Contacts/Instagram.png" alt="Instagram" />
		</a>
		<a href="https://aryavatan.itch.io/" target="_blank">
			<img src="../assets/Contacts/itchio.png" alt="itch.io" />
		</a>
		<a href="https://github.com/aryavatan" target="_blank">
			<img src="../assets/Contacts/GitHub.png" alt="GitHub" />
		</a>
		<a href="https://www.youtube.com/channel/UCKdhUNpF5Io8oMH-exs_eYw" target="_blank">
			<img src="../assets/Contacts/Youtube.png" alt="YouTube" />
		</a>
	</div>
</footer>