<div class="clearfix">
    <div class="box" id="image">
        <img src="assets/Beach.JPG" alt="Arya">
    </div>
    
    <div class="box" id="text">
        <h1>Hey there!</h1>
        <h1>I'm Arya Vatan-Abadi</h1>
        <h1>Passionate <span class="title">Software Engineer</span></h1>
        <br>
        <p>I'm here to write code and chew bubble gum, And I'm all out of bubble gum...</p>

        <div id="skills">
            <ul>
                <li>Java</li>
                <li>C#</li>
                <li>JavaScript</li>
                <li>Python</li>
                <li>C++</li>
                <li>SQL</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Node.js</li>
                <li>React</li>
                <li>Angular</li>
            </ul>
        </div>

    </div>
</div>