@import "../app.component.scss";

#image {
	height: 70%;
}

img {
	object-fit: cover;
	overflow: hidden;
	object-position: 20% 0px;
	width: auto;
	height: auto;
	max-width: 500px;
	max-height: 90%;
	border-radius: 20px;
	margin-left: 20%;
}

div#text {
	margin-top: 1em;

	h1 {
		font-family: "Roboto Condensed", sans-serif;
		color: white;
		font-size: 250%;
		margin: 0;
		margin-top: 15px;
	}

	span.title {
		color: $primary;
	}

	p {
		font-family: "Roboto Condensed", sans-serif;
		color: darken(white, 50%);
	}
}

* {
	box-sizing: border-box;
}

.box {
	float: left;
	width: 50%;
	padding: 40px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

#skills > ul {
	list-style-type: none;
	margin-top: 25px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;

	li {
		background: $primary;

		margin: 10px;
		margin-left: 0;

		padding: 12px;
		padding-left: 18px;
		padding-right: 18px;

		width: auto;
		text-align: center;
		height: auto;
		color: black;
		border-radius: 20px;
	}
}

#shortcuts {
	margin-top: 30px;
	display: none;
	width: auto;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;

	ul {
		list-style: none;
		padding: 0;

		li {
			width: auto;
			max-width: 300px;
			height: 45px;
			font-family: "Roboto", sans-serif;
			font-size: 20px;
			border: 2px solid $primary;
			margin: 0 0 15px 0;
			text-align: center;
			color: $primary;
			transition: 0.2s;
			display: grid;
			align-items: center;

			a {
				color: inherit;
				text-decoration: none;
			}

			&:hover {
				background-color: $primary;
				color: black;
				font-weight: bold;
			}
		}
	}
}

// ABOUT ME
.about-me {
	margin-top: 50px;
	h1 {
		font-family: "Roboto Condensed", sans-serif;
		color: white;
		font-size: 250%;
		margin: 0;
		margin-top: 15px;
		margin-bottom: 15px;

		text-align: center;
	}
	span.title {
		color: $primary;
	}
	.text {
		display: flex;
		flex-direction: column;
		align-items: center;

		p {
			width: 70%;
			color: white;
			text-align: start;

			span {
				color: $primary;
			}
		}

		.fav-games {
			width: 70%;

			ul {
				margin-top: 0;
				color: $primary;
				list-style-type: none;
				align-self: flex-start;

				li {
					color: white;
				}
				li::before {
					content: "\25AA"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
					color: $primary; /* Change the color */
					font-weight: bold; /* If you want it to be bold */
					display: inline-block; /* Needed to add space between the bullet and the text */
					width: 1em; /* Also needed for space (tweak if needed) */
					margin-left: -1em; /* Also needed for space (tweak if needed) */
				}
			}
		}
	}
}

// GAMES
.games {
	margin-top: 55px;

	h1 {
		font-family: "Roboto Condensed", sans-serif;
		color: white;
		font-size: 250%;
		margin: 0;
		margin-top: 15px;
		margin-bottom: 15px;

		text-align: center;
	}

	span.title {
		color: $primary;
	}

	.main {
		display: flex;
		justify-content: center;

		.row {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;

			width: 75%;
		}

		/* Add padding BETWEEN each column (if you want) */
		.row,
		.row > .column {
			padding: 10px;
		}

		/* Create four equal columns that floats next to each other */
		.column {
			float: left;
			width: 33%;
			display: inherit; // Sets project heights to be equal
		}

		/* Clear floats after rows */
		.row:after {
			content: "";
			clear: both;
		}

		/* Content */
		.content {
			background-color: lighten($secondary, 10%);
			padding: 10px;
			font-family: "Roboto Condensed", sans-serif;
			transition: 0.2s ease;
			border-style: solid;
			border-width: 2px;
			border-color: $primary;
			border-radius: 20px;

			a {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-decoration: none;
			}

			h3 {
				font-family: "Roboto Condensed", sans-serif;
				color: $primary;
				margin-bottom: 0;
				font-size: 22px;
			}

			p {
				color: white;
				margin-bottom: 5px;
				align-self: flex-start;
			}

			&:hover {
				cursor: pointer;
				background-color: $primary;
				border-color: $secondary;
				p,
				h3 {
					color: black;
				}
			}
			img {
				border-radius: 20px;
				margin: 0;
			}

			&:active {
				border-color: black;
				background-color: darken($primary, 20%);
			}
		}
	}
}

#extraSpace {
	display: none;
}

// MAX WIDTH: 2000px =========================================================
@media screen and (max-width: 2000px) {
	img {
		margin-left: 15%;
	}
}

// MAX WIDTH: 1600px =========================================================
@media screen and (max-width: 1600px) {
	img {
		object-fit: cover;
		overflow: hidden;
		width: auto;
		height: auto;
		max-width: 90%;
		max-height: 90%;
		border-radius: 8px;
		margin-left: 5%;
	}

	.box {
		padding: 40px;
	}
}

// MAX WIDTH: 1500px =========================================================
@media screen and (max-width: 1500px) {
	img {
		margin: auto;
	}
	.box {
		padding: 0px;
	}
}

// MAX WIDTH: 1300px =========================================================
@media screen and (max-width: 1300px) {
	#skills > ul {
		margin-top: 1.4em;
		li {
			padding: 12px;
		}
	}
}

// MAX WIDTH: 1150px =========================================================
@media screen and (max-width: 1150px) {
	#shortcuts {
		display: block;
	}
	#skills {
		display: none;
	}
}

// MAX WIDTH: 1130px =========================================================
@media screen and (max-width: 1130px) {
	#skills > ul > li {
		padding: 12px;
	}
}

// MAX WIDTH: 1100px =========================================================
@media screen and (max-width: 1100px) {
	.clearfix {
		position: relative;
	}
	div#text {
		h1 {
			font-size: 225%;
		}
	}
	#skills > ul > li {
		padding: 8px;
		font-size: 16px;
	}
	#shortcuts > ul > li {
		font-size: 18px;
		height: 40px;
	}
}

// MAX WIDTH: 950px =========================================================
@media screen and (max-width: 950px) {
	div#text {
		h1 {
			font-size: 150%;
			margin-top: 0;
			margin-bottom: 5px;
		}
		p {
			font-size: 16px;
			margin: 0;
			margin-bottom: 0;
		}
	}
	#skills > ul {
		margin-top: 30px;
	}
	#shortcuts {
		// margin-top: 0;

		ul > li {
			height: 35px;
		}
	}
}

// MAX WIDTH: 725px =========================================================
@media screen and (max-width: 725px) {
	.box {
		width: 100%;
	}
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		object-fit: cover;
		max-width: 100%;
		max-height: 500px;
	}
	div#text {
		text-align: center;
		p {
			font-size: 17px;
		}
	}
	#skills > ul {
		align-items: center;
		justify-content: center;
		li {
			padding: 16px;
		}
	}
	#shortcuts > ul > li {
		font-size: 20px;
		height: 50px;
	}
	#extraSpace {
		display: block;
	}
}
