//$primary:rgb(30, 242, 107);
$primary:rgb(152, 230, 152);

#image {
    height: 70%;
}

img {
    object-fit: cover;
    overflow: hidden;
    // object-position: 20% 0px; 
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}

div#text{
    margin-top: 6em;

    h1 {
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
        font-size: 250%;
        margin: 0;
        margin-top: 15px;
    }

    span.title {
        color: $primary;
    }

    p {
        font-family: 'Roboto Condensed', sans-serif;
        color: darken(white, 50%);
    }
}


* {
    box-sizing: border-box;
}

.box {
    float: left;
    width: 50%;
    padding: 50px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#skills > ul {
	list-style-type: none;
    margin-top: 3em;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        background: $primary;
        padding: 1em;
        margin-right: 10px;
        width: auto;
        height: auto;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        color: black;
    }

    li:hover{
        background: darken($primary, 26%);
    }
}